spring:
  datasource:
    url: jdbc:h2:file:./data/transactiondb
  
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
  
  h2:
    console:
      enabled: false

logging:
  level:
    com.jpmorgan.transaction: INFO
    org.springframework.kafka: WARN
    org.hibernate.SQL: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized